body{
    font-family: Verdana;
    font-size: 1.1em;
}

table{
    border-collapse: collapse;
    /*border-spacing: 0px;*/
}

tr{
    text-align: center;
    background-color: #dfe1e7;
}

th{
    padding-right: 0.5em;
    padding-left: 0.5em;
    white-space: nowrap;
}

td{
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-bottom: 1px;
    white-space: nowrap;
}

.left-col{
    text-align: left;
}

.alt-row{
    background-color: #eeeff2;
}

#header-row{
    background-color: #687291;
}

#total{
    visibility: hidden;
}