body{
    font-family: Verdana;
    font-size: 1.1em;
}

table{
    border: 10px solid #d0d0ff;
    border-spacing: 0px;
    padding: 20px;
    table-layout: fixed;
    height: initial;
    /*border-collapse: collapse;*/
    /*border-bottom: 2px #000000;*/
}

tr{
    /*border-top: 20px solid red;*/
    text-align: center;
    border-collapse: collapse;
}

th{
    padding-right: 0.5em;
    padding-left: 0.5em;
    white-space: nowrap;
}

td{
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-bottom: 1px;
    white-space: nowrap;
}


tr#total td{
    border-top: 2px solid black;
}

.left-col{
    text-align: left;
}


